<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.materialsouk.allcodeapp">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllCodeApp">
        <activity
            android:label="@string/image_slider_using_viewpager"
            android:name=".ImageSliderUsViewPagerActivity"
            android:exported="false" />
        <activity
            android:label="@string/image_slider"
            android:name=".ImageSliderActivity"
            android:exported="false" />
        <activity
            android:label="@string/side_bar_navigation_view"
            android:name=".NavigationDrawerActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
            android:label="@string/bottom_navigation_view"
            android:name=".BottomNavigationViewActivity"
            android:exported="false" />
        <activity
            android:label="@string/search"
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:label="@string/search_bar"
            android:name=".SearchBarActivity"
            android:exported="false" />
        <activity
            android:label="@string/search_view_with_menu"
            android:name=".SearchWithMenuActivity"
            android:exported="false" />
        <activity
            android:label="@string/expansion_panel"
            android:name=".ExpansionPanelActivity"
            android:exported="false" />
        <activity
            android:label="@string/dialog"
            android:name=".DialogActivity"
            android:exported="false" />
        <activity
            android:label="@string/multiple_delete_item"
            android:name=".MultipleDeleteItemActivity"
            android:exported="false" />
        <activity
            android:label="@string/tab_layout_with_view_pager"
            android:name=".TabLayoutWithViewPagerActivity"
            android:exported="false" />
        <activity
            android:label="@string/animation"
            android:name=".AnimationActivity"
            android:exported="false" />
        <activity
            android:label="@string/theme"
            android:name=".ThemeChangeActivity"
            android:exported="false" />
        <activity
            android:label="@string/permission"
            android:name=".PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>