<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.materialsouk.allcodeapp">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllCodeApp">
        <activity
            android:label="@string/recycler_view_animation"
            android:name=".RecyclerViewAnimationActivity"
            android:exported="false" />
        <activity
            android:label="@string/image_pick"
            android:name=".ImagePickActivity"
            android:exported="false" />
        <activity
            android:name=".ImageSliderUsViewPagerActivity"
            android:exported="false"
            android:label="@string/image_slider_using_viewpager" />
        <activity
            android:name=".ImageSliderActivity"
            android:exported="false"
            android:label="@string/image_slider" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="false"
            android:label="@string/side_bar_navigation_view"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".BottomNavigationViewActivity"
            android:exported="false"
            android:label="@string/bottom_navigation_view" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:label="@string/search" />
        <activity
            android:name=".SearchBarActivity"
            android:exported="false"
            android:label="@string/search_bar" />
        <activity
            android:name=".SearchWithMenuActivity"
            android:exported="false"
            android:label="@string/search_view_with_menu" />
        <activity
            android:name=".ExpansionPanelActivity"
            android:exported="false"
            android:label="@string/expansion_panel" />
        <activity
            android:name=".DialogActivity"
            android:exported="false"
            android:label="@string/dialog" />
        <activity
            android:name=".MultipleDeleteItemActivity"
            android:exported="false"
            android:label="@string/multiple_delete_item" />
        <activity
            android:name=".TabLayoutWithViewPagerActivity"
            android:exported="false"
            android:label="@string/tab_layout_with_view_pager" />
        <activity
            android:name=".AnimationActivity"
            android:exported="false"
            android:label="@string/animation" />
        <activity
            android:name=".ThemeChangeActivity"
            android:exported="false"
            android:label="@string/theme" />
        <activity
            android:name=".PermissionActivity"
            android:exported="false"
            android:label="@string/permission" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>